body {
  text-align: center;
}

.pizzaSize-form {
  display: none;
}

.toppings-form {
  display: none;
}

.quantity-form {
  display: none;
}

.pizza-cost {
  display: none;
}

.great-choice {
  display: none;
}
